.row.top
  .col-xs-12.col-md-8.col-md-offset-2
    = form_for @answer_set do |f|
      .form-group
        = label_tag "Name"
        = f.text_field :name, class: "form-control"
      .form-group
        = label_tag "Email"
        = f.text_field :email, class: "form-control"
      .form-group
        = label_tag "Location"
        = f.text_field :location, class: "form-control"
      .form-group
        = label_tag "Age"
        = f.number_field :age, class: "form-control small"
      .form-group
        = label_tag "Why do you support Trump?"
        = f.text_area :why_do_you_support_trump, class: "form-control"
      .form-group
        = label_tag "What do you think of Bernie?"
        = f.text_area :what_do_you_think_of_bernie, class: "form-control"
      .form-group
        = label_tag "What do you think of Hillary?"
        = f.text_area :what_do_you_think_of_hillary, class: "form-control"
      .form-group
        = label_tag "Are things worse off for white Americans than they used to be?"
        = f.radio_button :are_things_worse_off_for_whites, true, class: "form-control"
        = f.radio_button :are_things_worse_off_for_whites, false, class: "form-control"
      .form-group
        = label_tag "Are things worse off for non-white Americans than they used to be?"
        = f.radio_button :are_things_worse_off_for_nonwhites, true, class: "form-control"
        = f.radio_button :are_things_worse_off_for_nonwhites, false, class: "form-control"
